.btn-basic {
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
    font-family: "Poppins";
    border-radius: .5rem;
    border: none;
    padding: .5rem;
    margin: .5rem;
}

.btn-basic:hover {
    cursor: pointer;
}