
.div-time-item{
    width: 60%;
    margin: auto;
    border: solid .1rem;
    border-color: #149eca;
    border-radius: .5rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.div-date-item{
    display: flex;
}

.div-date-item h1{
    font-size: 1.5rem;
    margin-right: .5rem;
    font-family: "Poppins";
}

.div-date-item p{
    padding-top: .5rem;
    font-size: 1.5;
    font-family: "Poppins";
}

.div-text-item{
    font-family: "Poppins";
    font-size: 1.5rem;
}

.img-time-item{
    width: 3rem;
    border-radius: 50%;
    padding: 1rem;
}

.head-time-item{
    display: flex;
    flex-direction: row;
}