.portada {
    width: 70%;
    height: 300px;
    background: url("./img/portada.jpg") no-repeat center center/cover;
    padding-bottom: 50px;
    /*margin-bottom: 20px;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: auto;
    margin-top: 2rem;
    border-radius: 1rem;
}

.frame-img {
    width: 15%;
    margin-left: 1rem;
    margin-right: 1rem;
}

.title-portada{
    color: white;
    font-family: "Poppins";
}

.img-portada {
    width: 100%;
    border-radius: 1rem;
}

.text-portada {
    color: white;
    font-family: "Poppins";
}