.container-head {
    display: flex;
    flex-direction: row;
}

.container-content {
    margin: auto;
}

.position-center {
    margin: auto;
}

.position-left {
    flex-direction: row-reverse;
}

.position-fill {
    justify-content: space-between;
}

.header-tabs {
    display: flex;
    flex-direction: row;
}

.tab {
    color: white;
    font-size: 1.3rem;
    font-family: "Poppins";
    cursor: pointer;
    padding: 0 1rem;
}

.tab:hover {
    background-color: rgba(20, 158, 202, .3);
}

.tab-actibe {
    color: var(--azul-11);
    border-bottom: solid var(--azul-11);
}

.tab-close {
    display: none;
}