/*#region estilos para los colores*/
.principal {
    background-color: #149eca;
}

.success {
    background-color: #00C853;
}

.info {
    background-color: #2962FF;
}

.warning {
    background-color: #FFAB00;
}

.error {
    background-color: #D84315;
}

/*#endregion*/


/*#region estilos de las cards*/
.card-basic {
    background-color: var(--gris-3);
    min-width: 30rem;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0px 1px 10px rgba(116, 152, 182, 0.2);
}

.card {
    min-width: 30rem;
    min-height: 25rem;
    border-radius: 1rem;
    margin: 1rem;
    box-shadow: 0px 1px 10px rgba(116, 152, 182, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card-img-content {
    background-color: var(--gris-3);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.card-title {
    color: white;
    font-family: "Poppins";
    font-size: 1.3rem;
}

.card-text {
    color: white;
    font-family: "Poppins";
    font-size: 1.2;
}

.card-link {
    text-decoration: none;
    color: white;
    font-family: "Poppins";
    font-weight: 600;
    background-color: var(--azul-11);
    padding: 1rem;
    border-radius: .5rem;
}

.card-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.card-content {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}

/*#endregion*/

/*#region estilos de los extend panel*/

.extend-panel {
    background-color: #15202B;
    border-radius: .5rem;
    margin-top: .5rem;
}

.extend-head {
    color: white;
    font-family: "Poppins";
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem;
}

.extend-content {
    color: white;
    font-family: "Poppins";
    font-size: 1.2rem;
    padding: .5rem;
}

.close-content {
    display: none;
}

.down-icon {
    transform: rotate(180deg);
}

.up-icon {
    transform: rotate(360deg);
}

/*#endregion*/

/*#region botones*/
.btn-basic {
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
    font-family: "Poppins";
    border-radius: .5rem;
    border: none;
    padding: .5rem;
    margin: .5rem;
}

.btn-basic:hover {
    cursor: pointer;
}

/*#endregion*/

/*#region tabs*/
.header-tabs {
    display: flex;
    flex-direction: row;
}

.tab {
    color: white;
    font-size: 1.3rem;
    font-family: "Poppins";
    cursor: pointer;
    padding: 0 1rem;
}

.tab:hover {
    background-color: rgba(20, 158, 202, .3);
}

.tab-actibe {
    color: var(--azul-11);
    border-bottom: solid var(--azul-11);
}

.tab-close {
    display: none;
}

/*#endregion*/

/*#region modal*/

.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: rgba(49, 49, 49, 0.5);
}

.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-close {
    display: none;
}

/*#endregion*/

/*#region estilos de google icons*/

/* Rules for sizing the icon. */   
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.md-light { color: rgba(255, 255, 255, 1); }
.md-inactive { color: rgba(255, 255, 255, 0.3); }

/*#endregion*/

/*#region estilos de spiner loader*/

.loader{
    width: 15rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: var(--azul-12);
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  
  @keyframes loading {
    from {transform: rotate(0turn);}
    to {transform: rotate(1turn);}
  }
  
  .loader-bar{
    width: 30rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .line-box{
    padding: 2px;
    width: 40%;
    height: 20px;
    border: 1px solid white;
    border-radius: 20px;
  }
  
  .line-load{
    height: 20px;
    border-radius: 20px;
    background: var(--azul-12);
    animation: barloading 2s forwards infinite cubic-bezier(0,0,0,0);
  }
  
  @keyframes barloading{
    0%{
      width: 0%;
    }
    100%{
      width: 100%;
    }
  }
  
  /*#endregion*/

  /* #region estilos del tool tip*/

.tool-tip-div{
    position: relative;
    display: flex;
    overflow: visible;
    align-items: center;
    flex-direction: column;
  }
  
  .tool-tip {
    width: max-content;
    display: flex;
    flex-direction: row;
    position: absolute;
    color: white;
    background: var(--gris-2);
    padding: 5px;
    border-radius: 5px;
    z-index: 2;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
  }
  
  /*#endregion*/

  /*#region estilos de los chips*/
.chip{
    font-family: "Poppins";
    font-size: 1.3rem;
  }
  
  .chip-principal {
    width: fit-content;
    border-radius: 1.5rem;
    padding: .5rem;
    background-color: rgba(20, 158, 202,.2);
    color: #149eca; 
  }
  
  .chip-success {
    width: fit-content;
    border-radius: 1.5rem;
    padding: .5rem;
    background-color: rgba(0, 200, 83,.2);
    color: #00C853;
  }
  
  .chip-info {
    width: fit-content;
    border-radius: 1.5rem;
    padding: .5rem;
    background-color: rgba(41, 98, 255,.2);
    color: #2962FF;
  }
  
  .chip-warning {
    width: fit-content;
    border-radius: 1.5rem;
    padding: .5rem;
    background-color: rgba(255, 171, 0,.2);
    color: #FFAB00;
  }
  
  .chip-error {
    width: fit-content;
    border-radius: 1.5rem;
    padding: .5rem;
    background-color: rgba(216, 67, 21,.2);
    color: #D84315;
  }
  /*#endregion*/