.div-progres {
  text-align: left;
  padding-left: 5px;
}

.percent-bar {
  width: 90%;
  background-color: white;
  height: 10px;
  margin: auto;
  border-radius: 5px;
}

.nine {
  width: 90%;
}

.ten {
  width: 10%;
}

.eigth {
  width: 80%;
}

.percent-progres {
  background-color: #149eca;
  height: 10PX;
  border-radius: 5px;
}
