
/*#region estilos menu list*/
.menu-list-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .5rem;
}

.menu-list-title {
  color: white;
  font-size: 1.3rem;
  font-family: "Poppins";
}

.menu-list-open {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.menu-list-close {
  display: none;
}

.div-main-content{
  width: 70%;
  margin: auto;
  padding: 0 1rem;
}


/*#endregion*/

/*#region estilos menu mobil*/
.menu-mobil{
  margin-left: 1rem;
  margin-top: 1rem;
  height: fit-content;
  position: absolute;
}

.menu-mobil-open{
  max-height: 30rem;
  background-color: var(--gris-3);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-color: var(--azul-12) rgba(49, 49, 49, 0.2);
  scrollbar-width: thin;
  border-radius: .5rem;
}

.menu-mobil-close{
  display: none;
}
/*#endregion*/


.div-list{
  margin: 1rem;
  padding-left: 3rem;
}

.element-list{
  color: white;
  font-family: "Poppins";
  font-size: 1.3rem;
}




/*#region estilos de los titulos*/

.main-title{
  color: white;
  font-family: "Poppins";
  font-size: 6rem;
}

.main-subtitle{
  color: white;
  font-family: "Poppins";
  font-size: 3rem;
}

.alter-subtitle{
  color: white;
  font-family: "Poppins";
  font-size: 2rem;
}

.main-content{
  color: white;
  font-family: "Poppins";
  font-size: 1.3rem;
}

.footer-link{
  color: var(--azul-12);
  font-family: "Poppins";
  font-size: 1.3rem;
  text-decoration: none;
  margin: 0 .5rem;
}

.title-gpl{
  color: var(--ever-orange);
  font-family: "Poppins";
  font-size: 1.5rem;
  text-align: center;
}

.subtitle-gpl{
  color: var(--ever-purple);
  font-family: "Poppins";
  font-size: 1.3rem;
  text-align: center;
}

.text-gpl{
  color: var(--ever-green);
  font-family: "Poppins";
  font-size: 1rem;
  text-align: justify;
}

/*#endregion*/

/*#region estilos de los divider*/

.divider{
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: var(--azul-12);
  border-color: var(--azul-12);
}

/*#endregion*/

/*#region estilos login*/
.img-login{
  width: 75%;
  height: 50rem;
}
/*#endregion*/
.App {
  text-align: center;
}