:root{
  --azul-1: #2e4957;
  --azul-2: #375261;
  --azul-3: #415c6b;
  --azul-4: #4a6675;
  --azul-5: #54707f;
  --azul-6: #688391;
  --azul-7: #87a1ab;
  --azul-8: #a7bfc7;
  --azul-9: #c8dfe2;
  --azul-10: #eaffff;
}

/*#region estilos dos div*/
.main-frame{
  background-color: #1f2124;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.div-row{
  display: flex;
  flex-direction: row;
}
/*#endregion*/
.menu-vertical{
  width: 15rem;
  height: 100vh;
  background-color: #024059;
  display: flex;
  flex-direction: column;
}

.menu-item{
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  font-family: "Roboto";
  padding: .5rem 0;
}

.nav-bar{
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

/*#region estilos de los texfield*/
.entry-area{
  position: relative;
  height: 80px;
  line-height: 80px;
}

.basic{
  position: absolute;
  width: 100%;
  font-size: 1.3rem;
  padding: 0 30px;
  line-height: 80px;
  border-radius: 10px;
  border: 2px solid white;
  background-color: transparent;
  transition: 0.1s ease;
  z-index: 1111;
}

.label-line{
  position: absolute;
  font-size: 1.3rem;
  color: white;
  padding: 0 25px;
  margin: 0 20px;
  background-color: transparent;
  transition: 0.2s ease;
}
/*#endregion*/


/*#region estilos de las cards*/
.card-basic{
  background-color: #282c34;
  width: 30rem;
  border-radius: 1rem;
  padding: 1rem ;
  margin: 1rem;
  box-shadow: 0px 1px 10px rgba(3, 187, 133, 0.2);
}

.card-title{
  color: white;
  font-family: "Poppins";
  font-size: 1.3rem;
}

.card-text{
  color: white;
  font-family: "Poppins";
  font-size: 1.2;
}

.card-link{
  text-decoration: none;
  color: white;
  font-family: "Poppins";
  font-weight: 600;
  background-color: #024059;
  padding: 1rem;
  border-radius: .5rem;
}

.card-actions{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

/*#endregion*/

/*#region estilos de los extend panel*/
.extend-panel{
  background-color: #15202B;
  border-radius: .5rem;
  margin-top: .5rem;
}

.extend-head{
  color: white;
  font-family: "Poppins";
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .5rem;
}

.extend-content{
  color: white;
  font-family: "Poppins";
  font-size: 1.2rem;
  padding: .5rem;
}

.close-content{
  display: none;
}

.down-icon{
  transform: rotate(180deg);
}

.up-icon{
  transform: rotate(360deg);
}

/*#endregion*/
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
