
.div-list{
  margin: 1rem;
  padding-left: 3rem;
}

.element-list{
  color: white;
  font-family: "Poppins";
  font-size: 1.3rem;
}




/*#region estilos de los titulos*/

.main-title{
  color: white;
  font-family: "Poppins";
  font-size: 6rem;
}

.main-subtitle{
  color: white;
  font-family: "Poppins";
  font-size: 3rem;
}

.alter-subtitle{
  color: white;
  font-family: "Poppins";
  font-size: 2rem;
}

.main-content{
  color: white;
  font-family: "Poppins";
  font-size: 1.3rem;
}

.footer-link{
  color: var(--azul-12);
  font-family: "Poppins";
  font-size: 1.3rem;
  text-decoration: none;
  margin: 0 .5rem;
}

.title-gpl{
  color: var(--ever-orange);
  font-family: "Poppins";
  font-size: 1.5rem;
  text-align: center;
}

.subtitle-gpl{
  color: var(--ever-purple);
  font-family: "Poppins";
  font-size: 1.3rem;
  text-align: center;
}

.text-gpl{
  color: var(--ever-green);
  font-family: "Poppins";
  font-size: 1rem;
  text-align: justify;
}

/*#endregion*/
